.App {
  height: 100%;
}

main {
  min-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
}

.btn {
  padding: 0.5em 1em;
  border: none;
  background: rgb(77, 75, 92);
  color: #adbad1;
  cursor: pointer;
}

.btn-top-left {
  padding: 0.5em 1em;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-size: 2em;
  border-radius: 5px;
  background: rgb(77, 75, 92);
  color: #adbad1;
  border: none;
}
